<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Free-Games</title>
  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <script src="{% static 'js/bootstrap.js' %}" defer></script>

</head>

<body class="container-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'base' %}">Free-Games</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <form method='GET' class="d-grid gap-2 d-md-flex justify-content-md-end">

            <a href="{% url 'accounts:account_current' user.username %}"><button class="btn btn-link" type="button"
                style="margin-left: 5px;">{{ user.username }}'s account</button></a>

          </form>
          {% else %}
          <form method='GET' class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'accounts:account_login' %}"><button class="btn btn-outline-primary me-md-2" type="button"
                style="margin-left: 20px;">Log In</button></a>
            <a href="{% url 'accounts:account_create' %}"><button class="btn btn-outline-success" type="button"
                style="margin-left: 5px;">Create account</button></a>
          </form>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% block content %}
  {% endblock %}
</body>

</html>