{% extends 'base.html' %}

{% block content %}
<p>
<h1>Welcome to the home page!</h1>
</p>
<div>
    {% load static %}
    <a href="{% url 'wordle:wordle' %}">
        <img src="{% static 'images/wordle.png' %}" class="rounded float-left" alt="Wordle_Game">
    </a>

    <a href="{% url 'minesweeper:minesweeper' %}">
        <img src="{% static 'images/minesweeper.png' %}" class="rounded float-left" alt="Minesweeper_Game"
        style="margin: 15px;">
    </a>

    <a href="{% url 'sudoku:sudoku' %}">
        <img src="{% static 'images/sudoku.png' %}" class="rounded float-left" alt="Sudoku_Game"
        style="margin: 15px;">
    </a>
</div>
{% endblock %}