{% extends 'base.html' %}

{% block content %}
<style>
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
</style>
<p>
<h1>Welcome to Free-games !</h1>
<p><h4> Choose your game </h4></p>
</p>
<div>
    {% load static %}
    <a href="{% url 'wordle:wordle' %}">
        <img src="{% static 'images/wordle.png' %}" class="rounded float-left" alt="Wordle_Game">
    </a>

    <a href="{% url 'minesweeper:minesweeper' %}">
        <img src="{% static 'images/minesweeper.png' %}" class="rounded float-left" alt="Minesweeper_Game"
        style="margin: 15px;">
    </a>

    <a href="{% url 'sudoku:sudoku' %}">
        <img src="{% static 'images/sudoku.png' %}" class="rounded float-left" alt="Sudoku_Game"
        style="margin: 15px;">
    </a>
</div>
{% endblock %}