{% extends "base.html" %}


{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block content %}
<style>
    img:hover {
        box-shadow: 0 0 2px 1px rgba(42, 180, 226, 0.702);
    }
</style>
<form method="POST" class="container" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-container">

        <div style="float: right;">

            {% buttons %}
            <a href="{% url 'accounts:account_logout' %}"><button class="btn btn-outline-info" type="button"
                    style="height: 44px;">Log Out</button></a>
            {% endbuttons %}

        </div>


        <p>
            <!-- style="color:rgb(27, 96, 216);" -->
        <h2 style="color:rgb(42, 180, 226); border-bottom: 1px solid;">{{ user.username }} | {{ user.email }}</h2>

        <img src="{{ user.account.profile_pic.url }}" alt="{{user.username}}" class="img-thumbnail">
        </p>


        <label style="color: rgb(0, 0, 0); font-size: 28px;">Bio</label>
        <p>{{ form.info }}</p>


    </div>

    {% buttons %}
    <a href="{% url 'home' %}"><button class="btn btn-warning" type="button">Home</button></a>
    <a href="{% url 'accounts:account_update' user.username %}"><button class="btn btn-success"
            type="button">Update</button></a>
    {% endbuttons %}

</form>
{% endblock %}



<!-- {% bootstrap_form form  -->