{% extends "base.html" %}


{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block content %}
<form method="POST" class="container">
    {% csrf_token %}
    <p>
    <h2><label style="color:rgb(27, 96, 216);">{{ user.username }}</label></h2>
    </p>
    <table>
        {% bootstrap_form form %}
    </table>
    {% buttons %}
    <a href="{% url 'home' %}"><button class="btn btn-warning" type="button">Home</button></a>
    <a href="{% url 'accounts:account_logout' %}"><button class="btn btn-info" type="button">Log Out</button></a>
    {% endbuttons %}
</form>
{% endblock %}

