{% extends "base.html" %}


{% load crispy_forms_tags %}

{% load bootstrap4 %}

{% block content %}
<form method="POST" class="container">
    {% csrf_token %}
    <p>
    <h2>Log In</h2>
    </p>
    <table>
        {% bootstrap_form form %}
    </table>
    {% buttons %}
    <button type="submit" class="btn btn-primary">Log In</button>
    <a href="{% url 'home' %}"><button class="btn btn-danger" type="button">Cancel</button></a>
    {% endbuttons %}
</form>
{% endblock %}







<!-- {% extends 'base.html' }


{% block content }
<form class="container" style="margin: 15px;" method="post">
    {% csrf_token }
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <a href="{% url 'home' %}"><button class="btn btn-danger" type="button">Cancel</button></a>
</form>
{% endblock } -->