{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link href="{% static 'wordle/style.css' %}" rel="stylesheet" type="text/css">

    <h1> Wordle </h1>

    <script src="{% static 'wordle/script.js' %}" type="module"></script>

    <div id="game-board">
        <div id="keyboard-cont">
            <div class="first-row">
                <button class="keyboard-button btn btn-outline-dark">q</button>
                <button class="keyboard-button btn btn-outline-dark">w</button>
                <button class="keyboard-button btn btn-outline-dark">e</button>
                <button class="keyboard-button btn btn-outline-dark">r</button>
                <button class="keyboard-button btn btn-outline-dark">t</button>
                <button class="keyboard-button btn btn-outline-dark">y</button>
                <button class="keyboard-button btn btn-outline-dark">u</button>
                <button class="keyboard-button btn btn-outline-dark">i</button>
                <button class="keyboard-button btn btn-outline-dark">o</button>
                <button class="keyboard-button btn btn-outline-dark">p</button>
            </div>
            <div class="second-row">
                <button class="keyboard-button btn btn-outline-dark">a</button>
                <button class="keyboard-button btn btn-outline-dark">s</button>
                <button class="keyboard-button btn btn-outline-dark">d</button>
                <button class="keyboard-button btn btn-outline-dark">f</button>
                <button class="keyboard-button btn btn-outline-dark">g</button>
                <button class="keyboard-button btn btn-outline-dark">h</button>
                <button class="keyboard-button btn btn-outline-dark">j</button>
                <button class="keyboard-button btn btn-outline-dark">k</button>
                <button class="keyboard-button btn btn-outline-dark">l</button>
            </div>
            <div class="third-row">
                <button class="keyboard-button btn btn-outline-dark">Del</button>
                <button class="keyboard-button btn btn-outline-dark">z</button>
                <button class="keyboard-button btn btn-outline-dark">x</button>
                <button class="keyboard-button btn btn-outline-dark">c</button>
                <button class="keyboard-button btn btn-outline-dark">v</button>
                <button class="keyboard-button btn btn-outline-dark">b</button>
                <button class="keyboard-button btn btn-outline-dark">n</button>
                <button class="keyboard-button btn btn-outline-dark">m</button>
                <button class="keyboard-button btn btn-outline-dark">Enter</button>
            </div>
        </div>

    </div>
   


{% endblock %}